* text=auto eol=lf

*.cs text eol=lf diff=csharp
*.shader text eol=lf
*.hlsl text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.meta text eol=lf
*.asset text eol=lf
*.asmdef text eol=lf
*.mat text eol=lf
*.prefab text eol=lf
*.unity text eol=lf
*.anim text eol=lf
*.controller text eol=lf
*.overrideController text eol=lf
*.shadergraph text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.psd binary
*.blend binary
*.pyd binary
*.so binary
*.dylib binary
*.dll binary
*.lib binary
*.pdb binary
*.whl binary
